{% extends "base.html" %}
{% load staticfiles %}
{% load survey_extras %}

{% load i18n %}

{% block title %}Welcome!{% endblock %}


{% block body %}
<section class="front-page">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Walk/Ride Day 2014<br>Check-In</h1>


        <p class="lead"><img src="{% static 'img/car-24.png' %}" height="32" width="32"><img src="{% static 'img/school-24.png' %}" height="32" width="32"><img src="{% static 'img/pitch-24.png' %}" height="32" width="32"><img src="{% static 'img/bicycle-24.png' %}" height="32" width="32"><img src="{% static 'img/rail-24.png' %}" height="32" width="32"><img src="{% static 'img/warehouse-24.png' %}" height="32" width="32"><img src="{% static 'img/scooter-24.png' %}" height="32" width="32"></p>
        <p class="lead">Everyone is welcome to check in </p>
        <hr class="lite">
        <a style="font-size:18px; font-family:aleolight;" href="{% url "commuterform" %}" class="btn btn-large btn-success" tabindex="3">Check-in your <br>commute here!</a>
        <p style="font-family: aleolight; font-size: 16px;">
            <strong>Current Walk/Ride Day: <span class="date">{{ date }}</span>.</strong>
            <br>
            Check-ins will be accepted from Monday through next Monday for the December 26th Walk/Ride Day. Happy holidays!</p>

        <p> Walk/Ride Day is the last Friday of every month. If that Friday is impossible for you, you may substitute another day within the week.</p>


        <p><strong>Why?</strong>Your completion of this short survey for each Walk/Ride Day (the last Friday of every month) helps us see the impact of our initiative and only takes a few quick steps. After filling it out, you will get confirmation for Retail Partners' rewards and <strong>be entered into an online raffle</strong>! </p>



        <!-- <p><strong>And, if your company is participating in the <a href="http://gogreenstreets.org/2014-walkride-day-corporate-challenge">Walk/Ride Day Corporate Challenge</a>,</strong> your check-ins from April through October will count towards your company's standings, and <strong>make you eligible for additional raffle prizes</strong>.</p> -->


        <hr class="lite">
        <p>Your check-in will be faster if you use the same computer and web browser next month again.</p>
        <p class="lead">Thank you for checking in and for traveling sustainably!</p>
      </div>
    </div>
</section>

{% endblock %}
