.registration {
    border: #EEEEEE 1px solid;
    border-radius: 0.5em;
    padding: 1em;
}

.title {
    text-align: center;
}

.submit_button {
    margin-left: auto;
    margin-right: auto;
    /*width: 10em;
    height: 5em;*/
    font-size: 1.5em;
}

.clear_float {
    clear: both;
    visibility: hidden;
}

.fee {
    font-weight: bold;
}

.registration_closed {
    text-align: center;
}

.hidden {
    visibility: hidden;
}
