{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}Registration{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Thank you for registering your organization for Walk/Ride Day {% now "Y" %}</h2>
            <p>You're almost done. All that's left is for you to submit your payment. The total fee is ${{ cost }}, based on your company size
            {% if subteams %} and number of subteams{% endif %}.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            You can pay right now with PayPal:
            {% include 'register/paypal.html' %}
            <span class="social social-paypal"></span>
        </div>
        <div class="col-md-6">
            <p>
                Alternatively, you can send send in all appropriate attachments
                with payment to:<br>
                The Green Streets Initiative<br>
                166A Elm Street, N. Cambridge MA 02140
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                If you believe that any of the information you submitted may be
                incorrect, please send us an email at
            </p>
        </div>
    </div>
</div>
{% endblock %}
