.leg > label {
  padding: 0 1em;
}


#walkride > h3, #normal > h3 {
  font-family: aleoitalic;
  font-size: 1.25em;
  text-transform: none;
}

#walkride > h3 > span, #normal > h3 > span {
  font-family:aleobolditalic;
  font-size: 1.4em;
  text-transform: lowercase;
}

#walkride {
  background: #bae6c1;
}


.fluid-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        border: none;
}

ul.list-unstyled > li {
  height: 25px;
  vertical-align: top; 
}

.legB {
  background: #E5F7E5;
  padding: 5px 0px;
}

p {
  font-family:aleoregular;
}

p.wrday {
  margin: 30px;
  font-size:26px;
}

#test {
  font-size:16px;
}

h1,h2,h3,legend {
  text-transform: uppercase;
  font-weight:bold;
  font-family: aleobold;
}

strong {
  font-family:aleobold;
}

em {
  font-family:aleoitalic;
}

strong > em, em > strong {
  font-family:aleobolditalic;
}

h3,h4,h5,h6 {
  font-weight:bold;
}

legend {
  background:#cff6ff;
  padding:4px;
  padding-left:6px;
  border-bottom: 2px solid #5f9aa7;
}

label {
  font-family: aleoitalic;
  font-size: 16px;
}

hr.lite {
  border: 0;
  border-bottom: 1px dashed #eee;
}

.greenimpact {
  background:#cff6cf;
  border-bottom: 2px solid #5f9a87;
}

.right {
  text-align:right;
}
       
span.button {
    display: block;
    pointer-events: none;   
}

.container {max-width: 1000px;}

a, a:hover {
    color: #64AA4F;
}

.nowrap {
	white-space: nowrap;
}

#submit-error {
  padding:8px;
}

#notvalidated {
  display: none;
}

.commuteexamples {
  text-align: left;
  font-size: 0.8em;
  line-height: 1.1;
  margin-top: 14px;
  font-family: aleolight;
}

/* leaderboard styles */

h2.leaderboard {
  text-transform: none;
  text-align: center;
  letter-spacing: -1px;
  font-family: aleoitalic;
  margin-bottom:0px;
}

h1.leaderboard {
  margin-top:0px;
  margin-bottom:20px;
  text-align: center;
  font-family: aleobold;
}

h3.leaderboard {
  font-family:aleobold;
}

.panel p {
  font-size: 16px;
  line-height: 1.2;
  font-family:aleolight;
}

.panel {
  margin:10px;
  padding:20px;
}

.top {
  margin-bottom: 0;
  padding: 0;
}

.participation, a:link.participation, a:visited.participation {
 color: #b60;
}

.gcommute, a:link.gcommute, a:visited.gcommute {
 color: #0c3;
}

.gswitch, a:link.gswitch, a:visited.gswitch {
 color: #04c;
}

.co2, a:link.co2, a:visited.co2 {
 color: #530;
}

.calories, a:link.calories, a:visited.calories {
 color: #b0c;
}

a.company {
  color:red;
}

span.date {
  background: #ADFF00;
  padding: 2px;
}

.ranktitle {
  font-family: aleoregular;
  padding: 5px;
  text-transform: none;
  letter-spacing: -0.5px;
  font-size: 18px;
  background: #eee;
}


.labelHeader {
        text-align: right;
    }

.table-borderless thead > tr > th, .table-borderless tbody > tr > th {border: none;}


.gc {text-align:right;}
.gstd {
    border: 1px white solid;
    text-align:right;
    background-color: #4CB5FF;
  }
.gctd {
    border: 1px white solid;
    text-align:right;
    background-color: #93C480;
  }
.cctd {
    border: 1px white solid;
    text-align:right;
    background-color: #FF664C;
  }
.ustd {
    border: 1px white solid;
    text-align:right;
    background-color: #B472FF;
  }

.mode {
  font-size:8pt;
  text-align:center;
  line-height:1;
  margin:0px;
}

.matrixWRlabel {
  height:120px;
  width:50px;
  position:relative;
  margin:0px auto;
  float:left;
  vertical-align:middle;
}

.matrixWRlabel h4 {
  position:absolute;
  width:120px;
  line-height:50px;
  left:0;
  top:100%;
  white-space: nowrap;
  writing-mode: tb-rl;
  filter: flipv fliph;
  -moz-transform: rotate(270deg);  /* FF3.5+ */        
  -o-transform: rotate(270deg);  /* Opera 10.5 */   
  -webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */  
  -ms-transform:rotate(270deg); /* IE 9 */            
  filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */          
  -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* IE8 */
  transform:rotate(-90deg); 
  -webkit-transform:rotate(-90deg); 
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
  text-align:right;
}

.summary {
  line-height:1.1;
  padding: 5px;
  text-align: center;
  margin-bottom:20px;
}

div.participation {background-color: #fec;}
div.gcommute {background-color: #cfd;}
div.gswitch {background-color: #cef;}
div.co2 {background-color: #fdc;}
div.calories {background-color: #ecf;}

/*Leaderboard controls*/

.lbcontrols {
  background: #B6C1B2;
  font-family: aleoregular;
  padding:10px;
  padding-bottom:15px;
}

.selected {
  font-family: aleobold;
  font-weight: bold;
  outline: 5px solid #5cb85c;
  z-index:10;
}

a.lbmonth, span.lbmonth {
  background: #E1F0DC;
  padding: 5px;
  margin: 5px;
  color: black;
  color: #383;
  display: inline-block;
}

span.lbmonth {
  color: black;
  outline: 5px green solid;
  z-index:11;
}

/*ranks*/
ol.lbrank {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol.lbrank > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    list-style:none; /* Disable the normal item numbering */
}
ol.lbrank > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    color:#000;
    font-weight:bold;
    font-size:18px;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}

/*li ol.lbrank,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}​*/

.list-group-item {
  padding: 4px 8px;
  border:none;
}

span.badge {
  font-size: 1em;
  font-weight: normal;
}

/* Topnav budget numbers
-------------------------------------------------- */

.navbar .masthead {
  border-radius: 0 0 0 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
  height: 110px;
  overflow: hidden;
  border-bottom: 1px solid #64A950;
}

/* Page header
-------------------------------------------------- */
.page-header {
  position: relative;
  padding-top: 120px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}
.page-header h1 {
  margin-bottom: 9px;
  font-size: 44px;
  letter-spacing: -1px;
}

/* Front Page
-------------------------------------------------- */

.front-page, .thanks-page {
	text-align: center;
}

.lead {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

/* Footer
-------------------------------------------------- */

.footer {
	margin-top: 40px;
	text-align: center;
}

/* Map
-------------------------------------------------- */

#map-canvas {
	height: 300px;
}

/* Form
-------------------------------------------------- */

fieldset h2, fieldset h3 {
	margin-bottom: 10px;
}

span.required {
	color: #9D261D;
  font-weight: bold;
}

input:focus,
textarea:focus {
  border-color: rgba(100, 170, 79, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}

.btn.impact {
	float: left;
}

#saved_co2, #burned_calories {
	margin-bottom: 4px;
}

#burned_calories {
	margin-top: 4px;
}

fieldset.studentgroup {
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
}

.validation-error {
  padding: 5px;
  margin: 5px;
  letter-spacing: .5px;
}

#commute-distance, #commute-distance2, #commute-distance3 {
  font-weight:normal;
  margin: 10px auto;
  padding: 5px;
  float:left;
}

.leg {
  margin: 0px 20px 10px 10px;
}

.hidden-legs {
  display: none;
}

#optional-questions, #lastweekaway {
  display: none;
}



/* Share buttons
-------------------------------------------------- */

.social-media {
  margin-top: 20px;
}

.social-media li {
  display: inline-block;
}


/* Responsive design
-------------------------------------------------- */

@media (max-width: 480px) {
  .page-header {
    position: relative;
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .page-header {
    position: relative;
    padding-top: 0px;
  } 
  .front-page .btn, #add_studentgroup.btn {
  	margin-bottom: 10px;
  }
  .social-media li {
    display: list-item;
    margin-top: 10px;
  }
  .twitterwidget {
    padding-left: 18px;
  }
  #map_canvas {
    height: 300px;
  }
  #uvTab {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  .page-header {
    position: relative;
    padding-top: 0px;
  }
  .social-media li {
    display: list-item;
    margin-top: 10px;
  }
  .twitterwidget {
    padding-left: 18px;
  }
  #map_canvas {
    height: 300px;
  }
  #uvTab {
    display: none !important;
  }
}


@media (min-width: 1200px) {

}