p {
  font-family:aleolight;
}

h1,h2,legend {
  text-transform: uppercase;
  font-weight:bold;
  font-family: aleobold;
}

h3,h4,h5,h6 {
  font-weight:bold;
}

legend {
  background:#cff6ff;
  padding:4px;
  padding-left:6px;
  border-bottom: 2px solid #5f9aa7;
}

.greenimpact {
  background:#cff6cf;
  border-bottom: 2px solid #5f9a87;
}

.right {
  text-align:right;
}
       
span.button {
    display: block;
    pointer-events: none;   
}

.container {max-width: 1000px;}

a, a:hover {
    color: #64AA4F;
}

.nowrap {
	white-space: nowrap;
}

#submit-error {
  padding:8px;
}


/* leaderboard styles */

h2.leaderboard {
  text-transform: none;
}

.stats {
  font-size:12pt;
  font-weight:normal;
  text-align:center;
  line-height:1.1;
  padding-top:20px;
  padding-bottom:20px;
  margin-bottom:20px;
  border: 1px solid #eee
}

.top {
  margin-bottom: 0;
  padding: 0;
}

.selected {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 10px solid #bbb;
  background: #eee;
}

.participation, a:link.participation, a:visited.participation {
 color: #b60;
}

.gcommute, a:link.gcommute, a:visited.gcommute {
 color: #0c3;
}

.gswitch, a:link.gswitch, a:visited.gswitch {
 color: #04c;
}

.co2, a:link.co2, a:visited.co2 {
 color: #530;
}

.calories, a:link.calories, a:visited.calories {
 color: #b0c;
}

a.company {
  color:red;
}

.ranksubtitle {
  line-height:1.1;
  font-size: 12pt;
  margin-top:-6px;
}

.labelHeader {
        text-align: right;
    }

.table-borderless thead > tr > th, .table-borderless tbody > tr > th {border: none;}


.gc {text-align:right;}
.gstd {
    border: 1px white solid;
    text-align:right;
    background-color: #4CB5FF;
  }
.gctd {
    border: 1px white solid;
    text-align:right;
    background-color: #93C480;
  }
.cctd {
    border: 1px white solid;
    text-align:right;
    background-color: #FF664C;
  }
.ustd {
    border: 1px white solid;
    text-align:right;
    background-color: #B472FF;
  }

.mode {
  font-size:8pt;
  text-align:center;
  line-height:1;
  margin:0px;
}

.filters {
  background-color:#efde99;
  padding:10px;
}

.filteroptions {
  float: none;
  height: 65px;
  display: table-cell !important;
  vertical-align: bottom;
}

.matrixWRlabel {
  height:120px;
  width:50px;
  position:relative;
  margin:0px auto;
  float:left;
  vertical-align:middle;
}

.matrixWRlabel h4 {
  position:absolute;
  width:120px;
  line-height:50px;
  left:0;
  top:100%;
  white-space: nowrap;
  writing-mode: tb-rl;
  filter: flipv fliph;
  -moz-transform: rotate(270deg);  /* FF3.5+ */        
  -o-transform: rotate(270deg);  /* Opera 10.5 */   
  -webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */  
  -ms-transform:rotate(270deg); /* IE 9 */            
  filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */          
  -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* IE8 */
  transform:rotate(-90deg); 
  -webkit-transform:rotate(-90deg); 
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
  text-align:right;
}

.summary {
  font-size: 12px;
  line-height:1.1;
  padding: 14px;
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
  border: 5px solid white;

}

div.participation {background-color: #fec;}
div.gcommute {background-color: #cfd;}
div.gswitch {background-color: #cef;}
div.co2 {background-color: #fdc;}
div.calories {background-color: #ecf;}

/*Leaderboard controls*/

.lbcontrols {
  background: #1D4213;
  color: #9DCB98;
  font-family: aleoregular;
}




/* Topnav budget numbers
-------------------------------------------------- */

.navbar .masthead {
  border-radius: 0 0 0 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
  height: 110px;
  overflow: hidden;
  border-bottom: 1px solid #64A950;
}

/* Page header
-------------------------------------------------- */
.page-header {
  position: relative;
  padding-top: 120px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}
.page-header h1 {
  margin-bottom: 9px;
  font-size: 44px;
  letter-spacing: -1px;
}

/* Front Page
-------------------------------------------------- */

.front-page, .thanks-page {
	text-align: center;
}

.lead {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

/* Footer
-------------------------------------------------- */

.footer {
	margin-top: 40px;
	text-align: center;
}

/* Map
-------------------------------------------------- */

#map-canvas {
	height: 300px;
}

/* Form
-------------------------------------------------- */

fieldset h2, fieldset h3 {
	margin-bottom: 10px;
}

span.required {
	color: #9D261D;
  font-weight: bold;
}

input:focus,
textarea:focus {
  border-color: rgba(100, 170, 79, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}

.btn.impact {
	float: left;
}

#saved_co2, #burned_calories {
	margin-bottom: 4px;
}

#burned_calories {
	margin-top: 4px;
}

fieldset.studentgroup {
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
}

.validation-error {
  font-weight: bold;
  font-size: 1.2em;
}

#commute-distance {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 10px auto;
  padding: 8px;
}

.leg {
  margin: 0px 20px 10px 10px;
}

.hidden-legs {
  display: none;
}

#optional-questions, #lastweekaway {
  display: none;
}



/* Share buttons
-------------------------------------------------- */

.social-media {
  margin-top: 20px;
}

.social-media li {
  display: inline-block;
}


/* Responsive design
-------------------------------------------------- */

@media (max-width: 480px) {
  .page-header {
    position: relative;
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .page-header {
    position: relative;
    padding-top: 0px;
  } 
  .front-page .btn, #add_studentgroup.btn {
  	margin-bottom: 10px;
  }
  .social-media li {
    display: list-item;
    margin-top: 10px;
  }
  .twitterwidget {
    padding-left: 18px;
  }
  #map_canvas {
    height: 300px;
  }
  #uvTab {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  .page-header {
    position: relative;
    padding-top: 0px;
  }
  .social-media li {
    display: list-item;
    margin-top: 10px;
  }
  .twitterwidget {
    padding-left: 18px;
  }
  #map_canvas {
    height: 300px;
  }
  #uvTab {
    display: none !important;
  }
}


@media (min-width: 1200px) {

}