{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Leaderboard{% endblock %}
{% block javascript %}
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>

<script type="text/javascript">

$("document").ready(function() {
    $('.filteroptions').hide();
    $('button.submitfilter').addClass('disabled'); // Disables visually
    $('button.submitfilter').prop('disabled', true); // Disables visually + functionally
    $('select').change(function(){
        if ( $(this).val() !== "0" ){
            $('button.submitfilter').prop('disabled', false);
            $('button.submitfilter').removeClass('disabled'); 
        }
    });
});

function setfilter(filter) {
    $('.filteroptions').show();
		if(filter == "size") { 
			$('#size_filter').show();
			$('#size_filter').removeAttr('disabled');
			$('#team_filter').hide();
			$('#team_filter').attr('disabled', "true");
			$('#sector_filter').hide();
			$('#sector_filter').attr('disabled', "true");
		}
		else if(filter == "team") { 
			$('#team_filter').show();
			$('#team_filter').removeAttr('disabled');
			$('#size_filter').hide();
			$('#size_filter').attr('disabled', "true");
			$('#sector_filter').hide();
			$('#sector_filter').attr('disabled', "true");
		}
		else if(filter == "sector") { 
			$('#sector_filter').show();
			$('#sector_filter').removeAttr('disabled');
			$('#size_filter').hide();
			$('#size_filter').attr('disabled', "true");
			$('#team_filter').hide();
			$('#team_filter').attr('disabled', "true");
		}
	}

  $("#employer_pick").chosen({
    width: "99%"
  });

  $("#employer_pick").change(function(){
      if ($(this).val()!='') {
        console.log($(this).val());
        window.location.href='/leaderboard/' + $(this).val() + '/#details';
      }
    });
</script>

{% if empNVR %}
<script type="text/javascript">
  var employer = {{ empNVR | safe }};
</script>
<script src="{% static 'js/returning.js' %}" type="text/javascript"></script>
{% endif %}

<!-- {% if checkinsByMode %}
<script type="text/javascript">
  var datas = {{ checkinsByMode | safe }};
</script>
<script src="{% static 'js/checkinsByMode.js' %}" type="text/javascript"></script>
{% endif %} -->

{% endblock %}


{% block body %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <center><h1>Walk/Ride Day <br>Corporate Challenge Leaderboard</h1>
        </div>
    </div>

    

      

	<form method="get" action="/leaderboard/redirect" id="filter_form">
<div class="row clearfix filters lbcontrols">
    <!-- ALL COMPANIES -->
    <div class="col-sm-4 column">
      <div class="panel teamjump">
        <p class="lead"><strong>Jump to a team</strong></p>

        <select class="form-control" id="employer_pick" name="employer_pick" data-placeholder="Find an employer or team">     
          <option selected></option>
          {% for employer in active_companies %}
            {% if employer.is_parent %}
            <option value="{{ employer.id }}">{{ employer.name|escape }} (with subteams)</option> 
            {% else %}
            <option value="{{ employer.id }}">{{ employer.name|escape }}</option> 
            {% endif %}     
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="col-sm-8 column">

      <div class="filtercategories row">
        <p class="lead"><strong>View rankings by</strong></p>
        <div class="col-sm-4">
          <p><a class="btn btn-default btn-large all-button" href="/leaderboard/">Show all participating companies</a></p>
        </div>
        
        <div class="col-sm-8">
          
          <label><input type="radio" name="color" onclick="setfilter('size')" value="size"/> Size</label>
          <label><input type="radio" name="color" onclick="setfilter('sector')" value="sector"/> Sector</label>
          <label><input type="radio" name="color" onclick="setfilter('team')" value ="sector"/> Organizations with subteams</label>

          <div class="filteroptions row">

            <div class="col-sm-8">
              <!-- size options -->
              <select id="size_filter" name="size_filter" class="form-control" style="display: none" disabled="true">
              <option value="0" selected>Please select size</option>
              <option value="1" {% if sizecat == "small companies" %}selected{% endif %}>Small (1 - 50 Employees)</option>
              <option value="2" {% if sizecat == "medium companies" %}selected{% endif %}>Medium (51 - 300 Employees)</option>
              <option value="3" {% if sizecat == "large companies" %}selected{% endif %}>Large (301 - 2000 Employees)</option>
              <option value="4" {% if sizecat == "largest companies" %}selected{% endif %}>Largest (&gt; 2000 Employees)</option>
              </select>

              <!-- sector options -->
              <select class="form-control" id="sector_filter" name="sector_filter" style="display: none" disabled="true">
              <option value="0">Please select sector</option>
              <!-- change slice number if number of sectors changes -->
              {% for sector in sectors|slice:":7" %}<option value="{{ sector.id }}" {% if sector == emp_sector %}selected{% endif %}>{{ sector.name }}</option>{% endfor %}
              </select>
              
              <!-- subteams -->
              <select class="form-control" id="team_filter" style="display: none" name="sector_filter"  disabled="true">
              <option value="0">Please select organization</option>
              {% for team in subteams %}<option value="{{ team.id }}" {% if team == emp_sector %}selected{% endif %}>{{ team.name }}</option>{% endfor %}
              </select>

            </div>

            <div class="col-sm-4">
             
              {% if sort %}<input type="hidden" name="sort" value="{{ sort }}">{% endif %}
              <input type="hidden" name="month" value="{{ current_month }}" disabled>
              <button type="submit" class="btn btn-small btn-success submitfilter">Submit</button>

            </div>

          </div>
        </div>
      </div>

      

      <div class="filtermonths row">
        <hr class="lite">
          {% if current_month == 'all' %}<span class="lbmonth">All Months</span>{% endif %}
          {% if current_month != 'all' %}
          <a href="/leaderboard/{% if empid %}{{ empid }}/{% endif %}{% if filter_by == 'size' and not sectorid %}{{ filter_by }}/{% endif %}{% if filter_by and sectorid %}{{ filter_by }}/{% endif %}{% if sectorid and filter_by == 'sector' %}{{ sectorid }}/{% endif %}{% if filt and filter_by == 'size' %}{{ filt }}/{% endif %}{% if sort %}{{ sort }}/{% endif %}month_all" class="lbmonth">All Months</a>
          {% endif %}
          {% for month in months %}           
          {% if month.url_month != current_month %}
          <a href="/leaderboard/{% if empid %}{{ empid }}/{% endif %}{% if filter_by == 'size' and not sectorid %}{{ filter_by }}/{% endif %}{% if filter_by and sectorid %}{{ filter_by }}/{% endif %}{% if sectorid and filter_by == 'sector' %}{{ sectorid }}/{% endif %}{% if filt and filter_by == 'size' %}{{ filt }}/{% endif %}{% if sort %}{{ sort }}/{% endif %}month_{{ month.url_month }}" class="lbmonth">{{ month }}</a>
          {% endif %} 
          
          {% if month.url_month == current_month %}
          <span class="lbmonth">{{ month }}</span>
          {% endif %} 

          {% endfor %}
      </div>

    </div>

</div>
		</form>


    <div class="row clearfix">

        <div class="col-md-10 col-md-offset-1 column">
            <hr>
            <h1 class="leaderboard"><span class="
                {% if sort == 'participation' %}participation{% endif %}{% if sort == 'gc' %}gcommute{% endif %}{% if sort == 'gs' %}gswitch{% endif %}">{% if sort == 'participation' %}Participation{% endif %}{% if sort == 'gc' %}Green commutes{% endif %}{% if sort == 'gs' %}Green switches{% endif %}</span> {{ display_month }}</h1>  
            <h2 class="leaderboard" style="margin-top: -15px; margin-bottom:10px;">{% if filter_by == 'sector' %}{{ emp_sector }}{% endif %}{% if filter_by == 'size' %}{{ sizecat }}{% endif %} <br>
            {% if sort == 'participation' %}<span class="participation" style="font-family: aleolightitalic; font-size: 0.75em;">{{ total }} check ins across {{ total_companies }} teams.</span>{% endif %}{% if sort == 'gc' %}<span class="gcommute" style="font-family: aleolightitalic; font-size: 0.75em;">{{ total }} green commutes across {{ total_companies }} organizations. Green commutes make use of walking, biking, running, taking transit, or using alternative driving arrangements such as carpooling or carsharing.</span>{% endif %}{% if sort == 'gs' %}<span class="gswitch" style="font-family: aleolightitalic; font-size: 0.75em;">{{ total }} green switches across {{ total_companies }} organizations. Green switches are made by commuters adding at least one new green mode of transportation to their commute.</span>{% endif %}</h2>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-6 column">
			{% if sort == 'participation' %}
            <h3 class="ranktitle">Total check ins</h3>
			{% endif %}
			{% if sort == 'gc' %}
            <h3 class="ranktitle">Number of green commutes</h3>
			{% endif %}
			{% if sort == 'gs' %}
            <h3 class="ranktitle">Number of green switches</h3>
			{% endif %}

            <div class="list-group">
            <ol class="lbrank">
                {% for rank in ranks %} 
                {% if forloop.counter < 11 and rank.id != 1105 %}
                <li><a class="list-group-item company" href="/leaderboard/{{ rank.2 }}/#details">{{ rank.1 }}<span class="badge">{{ rank.0 }}</span></a></li> 
                {% endif %}
                {% endfor %}
            </ol>
            </div>

        </div>
        <div class="col-md-6 column">
			{% if sort == 'participation' %}
			<h3 class="ranktitle">Percentage checking in</h3>
			{% endif %}
			{% if sort == 'gc' %}
            <h3 class="ranktitle">Percentage of commutes that are green</h3>
			{% endif %}
			{% if sort == 'gs' %}
            <h3 class="ranktitle">Percentage of commutes that are green switches</h3>
			{% endif %}

            <div class="list-group">
            <ol class="lbrank">
                {% for rank in ranks_pct %} 
                {% if forloop.counter < 11 and rank.id != 1105 %}
                <li><a class="list-group-item company" href="/leaderboard/{{ rank.2 }}/#details">{{ rank.1 }}<span class="badge">{{ rank.0|floatformat }}</span></a></li> 
                {% endif %}
                {% endfor %}
            </ol>
            </div>

        </div>
    </div>

    <!-- carbon dioxide info -->

    <!-- calories info -->


{% if empid != 0 %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <a id="details"></a>
            <hr>
            <h1 class="leaderboard">{{ employer.name }}</h1>

        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column" style="border: 1px solid #eee; padding:5px; text-align:center; letter-spacing: 0.25px; font-size: 16px;">

            <h3>New & Returning Checkins</h3>

            <div class="barchart-div">
              <svg class="barchart"></svg>
            </div>

            <!-- <h3>Checkins by transportation type</h3>

            <div class="checkins-barchart-div">
              <svg class="checkins-barchart"></svg>
            </div> -->


            <hr>
                <h3>Commute legs by transportation type</h3>
                <p class="lead">Totals for all months in 2014</p>
  
                <div class="col-sm-8 col-sm-offset-2">
                <table class="table table-condensed table-borderless">
                <tr><th>Transportation</th><th>Normal Day</th><th>Walk/Ride Day</th><th>Difference</th></tr>
                    {% for mode,v in thismodeG.items %}
                    {% if mode = 'b' %}
                      <tr class="success"><td><img src="{% static 'img/bicycle-24.png' %}" height="32" width="32">Bicycling
                    {% elif mode = 'w' %}
                      <tr class="success"><td><img src="{% static 'img/school-24.png' %}" height="32" width="32">Walking
                    {% elif mode = 'r' %}
                      <tr class="success"><td><img src="{% static 'img/pitch-24.png' %}" height="32" width="32">Running or jogging
                    {% elif mode = 't' %}
                      <tr class="success"><td><img src="{% static 'img/rail-24.png' %}" height="32" width="32">Public transit
                    {% elif mode = 'cp' %}
                      <tr class="success"><td><img src="{% static 'img/car-24.png' %}" height="32" width="32"> Carpooling
                    {% endif %} 
                </td>
                <td>{{ v.onmode_n }}</td><td>{{ v.onmode_w }}</td><td>{{ v.diff }}%</td>
                </tr>
                {% endfor %}

                    {% for mode,v in thismodeO.items %}
                    {% if mode = 'o' %}
                      <tr><td><img src="{% static 'img/scooter-24.png' %}" height="32" width="32">Other
                    {% endif %} 
                </td>
                <td>{{ v.onmode_n }}</td><td>{{ v.onmode_w }}</td><td>{{ v.diff }}%</td>
                </tr>
                {% endfor %}

                    {% for mode,v in thismodeY.items %}
                    {% if mode = 'tc' %}
                      <tr class="info"><td><img src="{% static 'img/warehouse-24.png' %}" height="32" width="32">Telecommuting
                    {% endif %} 
                </td>
                <td>{{ v.onmode_n }}</td><td>{{ v.onmode_w }}</td><td>{{ v.diff }}%</td>
                </tr>
                {% endfor %}
                {% for mode,v in thismodeR.items %}
                    {% if mode = 'dalt' %}
                      <tr class="danger"><td><img src="{% static 'img/car-24.png' %}" height="32" width="32"> Driving alone (alternate vehicle)
                    {% elif mode = 'da' %}
                      <tr class="danger"><td><img src="{% static 'img/car-24.png' %}" height="32" width="32"> Driving alone
                    {% endif %} 
                </td>
                <td>{{ v.onmode_n }}</td><td>{{ v.onmode_w }}</td><td>{{ v.diff }}%</td>
                </tr>
                {% endfor %}
                <tfoot>
                <tr>
                <td colspan='4'>
                    <p>Note: The above will NOT add to the reported total number of checkins because many commutes use multiple types of transportation!</p></td>
                </tr>
                </tfoot>
                </table>
                      </div>
            


                    <div class="col-sm-12">
            <p style="font-family:aleolightitalic;"><a href="mailto:cristen@gogreenstreets.org">Email Cristen for questions or feedback.</a></p>
        </div>
        </div>
    </div>

   
    {% endif %}


{% endblock %}


