{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Statistics{% endblock %}

{% block javascript %}
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
{% endblock %}

{% block body %}

  {% for key, value in ranks.items %}
  <h2>{{ key }}</h2>
  <ol>
    {% for company in value %}
      <li> {{ company }} </li>
    {% endfor %}
  </ol>
  {% endfor %}

  {% for key, value in context_dict.items %}
    <h2>{{ key }}</h2>
    <ul>
      {% for k, v in value.items %}
      <li> {{ k }}: {{ v }} </li>
      {% endfor %}
    </ul>
  {% endfor %}


{% endblock %}