{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Leaderboard{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $("document").ready(function() {
		chart_data = {% autoescape off %}{{ chart }}{% endautoescape %}
		var chart = new CanvasJS.Chart("breakDownGraph", chart_data);
		chart.render();
    });
    
    String.prototype.format = function() {
        var formatted = this;
        for(arg in arguments) {
            formatted = formatted.replace("{" + arg + "}", arguments[arg]);
        }
        return formatted;
    };	
</script>
<script type="text/javascript">

$("document").ready(function() {
    $('button.submitfilter').addClass('disabled'); // Disables visually
    $('button.submitfilter').prop('disabled', true); // Disables visually + functionally
    $('select').change(function(){
        if ( $(this).val() !== "0" ){
            $('button.submitfilter').prop('disabled', false);
            $('button.submitfilter').removeClass('disabled'); 
        }
    });
});

function setfilter(filter) {
		if(filter == "size") { 
			$('#size_filter').show();
			$('#size_filter').removeAttr('disabled');
			$('#team_filter').hide();
			$('#team_filter').attr('disabled', "true");
			$('#sector_filter').hide();
			$('#sector_filter').attr('disabled', "true");
		}
		else if(filter == "team") { 
			$('#team_filter').show();
			$('#team_filter').removeAttr('disabled');
			$('#size_filter').hide();
			$('#size_filter').attr('disabled', "true");
			$('#sector_filter').hide();
			$('#sector_filter').attr('disabled', "true");
		}
		else if(filter == "sector") { 
			$('#sector_filter').show();
			$('#sector_filter').removeAttr('disabled');
			$('#size_filter').hide();
			$('#size_filter').attr('disabled', "true");
			$('#team_filter').hide();
			$('#team_filter').attr('disabled', "true");
		}
	}
</script>
<script type="text/javascript" src="{% static 'libs/canvasjs.min.js' %}"></script>
{% endblock %}


{% block body %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <center><h1>Walk/Ride Day <br>Corporate Challenge Leaderboard</h1>
        </div>
    </div>

    <div class="row clearfix filters lbcontrols">
	<form method="get" action="/leaderboard/redirect" id="filter_form">
        <div class="col-md-12 column">
            {% if current_month == 'all' %}<span class="lbmonth">{{ current_month }}</span>{% endif %}
            {% if current_month != 'all' %}
            <a href="/leaderboard/{% if empid %}{{ empid }}/{% endif %}{% if filter_by == 'size' and not sectorid %}{{ filter_by }}/{% endif %}{% if filter_by and sectorid %}{{ filter_by }}/{% endif %}{% if sectorid and filter_by == 'sector' %}{{ sectorid }}/{% endif %}{% if filt and filter_by == 'size' %}{{ filt }}/{% endif %}{% if sort %}{{ sort }}/{% endif %}month_all" class="lbmonth">all</a>
            {% endif %}
            {% for month in months %}           
            {% if month.url_month != current_month %}
            <a href="/leaderboard/{% if empid %}{{ empid }}/{% endif %}{% if filter_by == 'size' and not sectorid %}{{ filter_by }}/{% endif %}{% if filter_by and sectorid %}{{ filter_by }}/{% endif %}{% if sectorid and filter_by == 'sector' %}{{ sectorid }}/{% endif %}{% if filt and filter_by == 'size' %}{{ filt }}/{% endif %}{% if sort %}{{ sort }}/{% endif %}month_{{ month.url_month }}" class="lbmonth">{{ month }}</a>
            {% endif %} 
            
            {% if month.url_month == current_month %}
            <span class="lbmonth">{{ month }}</span>
            {% endif %} 

            {% endfor %}
        </div>
        <div class="col-md-6 column">
            <p class="lead"><strong>Filter the companies by</strong></p>
            <label><input type="radio" name="color" onclick="setfilter('size')" value="size"/> Size</label>
            <label><input type="radio" name="color" onclick="setfilter('sector')" value="sector"/> Sector</label>
            <label><input type="radio" name="color" onclick="setfilter('team')" value ="sector"/> Organizations with subteams</label>

            <div class="col-md-9 col-sm-9 column">
            <!-- size options -->
            <select id="size_filter" name="size_filter" class="form-control" style="display: none" disabled="true">
            <option value="0" selected>Please select size</option>
            <option value="1" {% if sizecat == "small companies" %}selected{% endif %}>Small (1 - 50 Employees)</option>
            <option value="2" {% if sizecat == "medium companies" %}selected{% endif %}>Medium (51 - 300 Employees)</option>
            <option value="3" {% if sizecat == "large companies" %}selected{% endif %}>Large (301 - 2000 Employees)</option>
            <option value="4" {% if sizecat == "largest companies" %}selected{% endif %}>Largest (&gt; 2000 Employees)</option>
            </select>

            <!-- sector options -->
            <select class="form-control" id="sector_filter" name="sector_filter" style="display: none" disabled="true">
            <option value="0">Please select sector</option>
            <!-- change slice number if number of sectors changes -->
            {% for sector in sectors|slice:":7" %}<option value="{{ sector.id }}" {% if sector == emp_sector %}selected{% endif %}>{{ sector.name }}</option>{% endfor %}
            </select>
            
            <!-- subteams -->
            <select class="form-control" id="team_filter" style="display: none" name="sector_filter"  disabled="true">
            <option value="0">Please select organization</option>
            {% for team in subteams %}<option value="{{ team.id }}" {% if team == emp_sector %}selected{% endif %}>{{ team.name }}</option>{% endfor %}
            </select>
            </div>
            <div class="col-md-3 col-sm-3 column">
        {% if sort %}<input type="hidden" name="sort" value="{{ sort }}">{% endif %}
		<input type="hidden" name="month" value="{{ current_month }}" disabled>
            <button type="submit" class="btn btn-small btn-success submitfilter">Submit</button>
            </div>
        </div>
<!--  disabled for performance reasons
        <div class="col-md-6 column">
            <p class="lead"><strong>Please choose ranking type</strong></p>
            <div class="btn-group">
            {% if not filt and not empid %}
            <a href="/leaderboard/participation" class="btn btn-default participation {% if sort == 'participation' %}selected{% endif %}">Participation</a>
            <a href="/leaderboard/gc" class="btn btn-default gcommute {% if sort == 'gc' %}selected{% endif %}">Green commutes</a>
            <a href="/leaderboard/gs" class="btn btn-default gswitch {% if sort == 'gs' %}selected{% endif %}">Green switches</a>
            {% endif %}

            {% if filt and not empid %}
            <a href="/leaderboard/participation" class="btn btn-default participation {% if sort == 'participation' %}selected{% endif %}">Participation</a>
            <a href="/leaderboard/gc" class="btn btn-default gcommute {% if sort == 'gc' %}selected{% endif %}">Green commutes</a>
            <a href="/leaderboard/gs" class="btn btn-default gswitch {% if sort == 'gs' %}selected{% endif %}">Green switches</a>
            {% endif %}
            {% if empid %}
            <a href="/leaderboard/participation" class="btn btn-default participation {% if sort == 'participation' %}selected{% endif %}">Participation</a>
            <a href="/leaderboard/gc" class="btn btn-default gcommute {% if sort == 'gc' %}selected{% endif %}">Green commutes</a>
            <a href="/leaderboard/gs" class="btn btn-default gswitch {% if sort == 'gs' %}selected{% endif %}">Green switches</a>
            {% endif %}
            </div>
        </div> -->
		</form>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            
        </div>
    </div>

    <div class="row clearfix">

        <div class="col-md-10 col-md-offset-1 column">
            <hr>
            <h1 class="leaderboard"><span class="
                {% if sort == 'participation' %}participation{% endif %}{% if sort == 'gc' %}gcommute{% endif %}{% if sort == 'gs' %}gswitch{% endif %}">{% if sort == 'participation' %}Participation{% endif %}{% if sort == 'gc' %}Green commutes{% endif %}{% if sort == 'gs' %}Green switches{% endif %}</span> {{ display_month }}</h1>  
            <h2 class="leaderboard" style="margin-top: -15px; margin-bottom:10px;">{% if filter_by == 'sector' %}{{ emp_sector }}{% endif %}{% if filter_by == 'size' %}{{ sizecat }}{% endif %} <br>
            {% if sort == 'participation' %}<span class="participation" style="font-family: aleolightitalic; font-size: 0.75em;">{{ total }} check ins across {{ total_companies }} teams.</span>{% endif %}{% if sort == 'gc' %}<span class="gcommute" style="font-family: aleolightitalic; font-size: 0.75em;">{{ total }} green commutes across {{ total_companies }} organizations. Green commutes make use of walking, biking, running, taking transit, or using alternative driving arrangements such as carpooling or carsharing.</span>{% endif %}{% if sort == 'gs' %}<span class="gswitch" style="font-family: aleolightitalic; font-size: 0.75em;">{{ total }} green switches across {{ total_companies }} organizations. Green switches are made by commuters adding at least one new green mode of transportation to their commute.</span>{% endif %}</h2>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-6 column">
			{% if sort == 'participation' %}
            <h3 class="ranktitle">Total check ins</h3>
			{% endif %}
			{% if sort == 'gc' %}
            <h3 class="ranktitle">Number of green commutes</h3>
			{% endif %}
			{% if sort == 'gs' %}
            <h3 class="ranktitle">Number of green switches</h3>
			{% endif %}

            <div class="list-group">
            <ol class="lbrank">
                {% for rank in ranks %} 
                {% if forloop.counter < 11 and rank.id != 1105 %}
                <li><a class="list-group-item company" href="/leaderboard/{{ rank.2 }}/#details">{{ rank.1 }}<span class="badge">{{ rank.0 }}</span></a></li> 
                {% endif %}
                {% endfor %}
            </ol>
            </div>

        </div>
        <div class="col-md-6 column">
			{% if sort == 'participation' %}
			<h3 class="ranktitle">Percentage checking in</h3>
			{% endif %}
			{% if sort == 'gc' %}
            <h3 class="ranktitle">Percentage of commutes that are green</h3>
			{% endif %}
			{% if sort == 'gs' %}
            <h3 class="ranktitle">Percentage of commutes that are green switches</h3>
			{% endif %}

            <div class="list-group">
            <ol class="lbrank">
                {% for rank in ranks_pct %} 
                {% if forloop.counter < 11 and rank.id != 1105 %}
                <li><a class="list-group-item company" href="/leaderboard/{{ rank.2 }}/#details">{{ rank.1 }}<span class="badge">{{ rank.0|floatformat }}</span></a></li> 
                {% endif %}
                {% endfor %}
            </ol>
            </div>

        </div>
    </div>

    <!-- carbon dioxide info -->

    <!-- calories info -->


{% if empid != 0 %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <a id="details"></a>
            <hr>
            <h1 class="leaderboard">{{ employer.name }}</h1>

        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column" style="border: 1px solid #eee; padding:5px; text-align:center; letter-spacing: 0.25px; font-size: 16px;">
            <!-- <h3>{{ display_month }} summary</h3>  -->
            <h3>Checkins across all months</h3>
            <div class="panel participation">
                <p>{{ h }} checkins involved at least one walk, bike, run adventure!</p>
                <p>{{ t }} checkins involved taking public transit.</p>
            </div>
            <table class="table table-condensed lead">
            <tr><th>Type of transportation</th><th>Normal day</th><th>Walk/Ride Day</th></tr>
                {% for mode,v in thismode.items %}
                {% if mode = 'b' %}
                  <tr class="success"><td>Bicycling
                {% elif mode = 'w' %}
                  <tr class="success"><td>Walking
                {% elif mode = 'r' %}
                  <tr class="success"><td>Running or jogging
                {% elif mode = 't' %}
                  <tr class="success"><td>Public transit
                {% elif mode = 'da' %}
                  <tr class="danger"><td>Driving alone
                {% elif mode = 'dalt' %}
                  <tr class="danger"><td>Driving alone (alternate vehicle)
                {% elif mode = 'tc' %}
                  <tr class="info"><td>Telecommuting
                {% elif mode = 'o' %}
                  <tr><td>Other
                {% endif %} 
            </td>
            <td>{{ v.onmode_n }}</td><td>{{ v.onmode_w }}</td>
            </tr>
            {% endfor %}
            <tfoot>
            <tr>
            <td colspan='3'>
                <p>Note: The above will NOT add to the reported total number of checkins because many commutes use multiple types of transportation!</p></td>
            </tr>
            </tfoot>
            </table>           
            <div class="panel">
            <p style="font-family:aleolightitalic;">More details coming soon!</p>
            <p style="font-family:aleolightitalic;"><a href="mailto:cristen@gogreenstreets.org">Email Cristen for questions or feedback.</a></p>
            </div>
        </div>
        

        <!-- div class="col-md-4 column summary participation">
            <h4>Employee Participation</h4>
            <p>{{ ncommutes }} commutes</p>
            <p>{{ participation|floatformat }}% of {{ employer.nr_employees }} employees</p>
        </div>
        <div class="col-md-4 column summary gcommute">
            <h4>Green Commutes</h4>
            <p>{{ gc }} commutes</p>
            <p>{{ gc_pct|floatformat }}% of all checkins</p>
        </div>
        <div class="col-md-4 column summary gswitch">
            <h4>Green Switches</h4>
            <p>{{ gs }} switches</p>
            <p>{{ gs_pct|floatformat }}% of all checkins</p>
        </div> -->
       <!--  <div class="col-md-2 column summary co2">
            <h4>Carbon Dioxide</h4>
            <p>(Number) tons saved</p>
            <p>(Number unit) per employee</p>
        </div>
        <div class="col-md-2 column summary calories">
            <h4>Calories Burned</h4>
            <p>(Number) burned</p>
            <p>(Number unit) per employee</p>
        </div> -->

    </div>

    <!-- <div class="row clearfix">
        <hr>
        <div class="col-md-12 column" style="padding: 5px; text-align: center; letter-spacing: 0.25px; font-size: 16px;">
            <h3>Across all months to date</h3>
            <p style="font-family: aleolightitalic;">Notes: Green switches happen when you include more green transportation. Make a new trip via bicycle, bus, train… even carpooling or walking count! Green commutes designate those who maintained existing green commuting habits for Walk/Ride day.</p>
        </div>
        <div class="col-md-8 column"> 
            <!-- Where the generated bar chart goes -->
            <!-- <div id="breakDownGraph" style="height:300px"></div>
        </div>
        <div class="col-md-3 column"> 
            <div id="totalBreakDown">
            <table class="table table-borderless">
                <tr>
                    <th id="totals"><h4>Totals: </h4></th>
                </tr>

                <tr>
                    <td><div class="gc text-right">Commutes:</div></td>
                    <td class="gc" id="total_checkins">{{ ncommutes_total }}</td>
                </tr>
                <tr>
                    <td><div class="text-right">Green Switches:</div></td>
                    <td class="gstd" id="total_gs">{{ gs_total }}</td>
                </tr>
                <tr>
                    <td><div class="text-right">Green Commutes:</div></td>
                    <td class="gctd" id="total_gc">{{ gc_total }}</td>
                </tr>
                <tr>
                    <td><div class="text-right">Car Commutes:</div></td>
                    <td class="cctd" id="total_cc">{{ cc_total }}</td>
                </tr>
                <tr>
                    <td><div class="text-right">Other:</div></td>
                    <td class="ustd" id="total_us">{{ other_total }}</td>
                </tr>
            </table>
            </div>
        </div>
    </div>  -->
    {% endif %}


{% endblock %}


